<!DOCTYPE html>
<html>
  <head>
    <title>Who owns my work/life balance?</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      footer {
        padding: 5px 10px 5px 10px;
        border-top: 1px solid #eee;
      }
      h1 { font-size: 192px; }
      h2 { font-size: 64px; }
      .links li { padding-bottom: 5px; }
      .row { padding-top: 230px;
        padding-bottom: 40px; }
    </style>
  </head>
  <body>
    <div class="container">
        {{ content }}
      <footer class="container-fluid">
        <p> by
        <a href="https://twitter.com/mrtazz">@mrtazz</a>, hosted on
        <a href="https://github.com/mrtazz/whoownsmyworklifebalance.com">Github</a>,
         inspired by <a href="http://www.whoownsmyavailability.com/">whoownsmyavailability.com</a>
        </p>
      </footer>
    </div>
    <script type="text/javascript">
      var _gauges = _gauges || [];
      (function() {
        var t   = document.createElement('script');
        t.type  = 'text/javascript';
        t.async = true;
        t.id    = 'gauges-tracker';
        t.setAttribute('data-site-id', '554a3e9292c6ac24af004122');
        t.setAttribute('data-track-path', 'https://track.gaug.es/track.gif');
        t.src = 'https://track.gaug.es/track.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(t, s);
      })();
    </script>
  </body>
</html>
